

html

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" href="estilo.css">
    <title> EXERCÍCIO 02 </title> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
</head>
<body>
    <div class="título01">
        <h1>Minha página de carros </h1>
    </div>
    <div class="bloco01">
        <i> publicado: Maio, 2022</i>
    </div>
    <div class="bloco02">
       
       <h2>Meu primeiro post (fonte Dancing Script) </h2> 
    </div>
    <div class="bloco03">
        <l>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae expedita autem quibusdam laborum rem vitae! Quo, sit deleniti commodi accusantium, eos expedita obcaecati ullam magni perferendis incidunt aperiam sed amet?
        </l>
    </div>
    <div class="bloco04">
        <figure>
                <img src="carro toyota.jfif">
                <figcaption>saiba mais em <a href="https://www.toyota.com.br/">Toyota Motors</a></figcaption>
        </figure>
</body>
</html>




 css

   .título01{
        background-color: orange;
        color: aliceblue;
        padding: 10px;
    }
    .bloco02{
        font-family: 'Dancing Script', cursive;
    }
    .bloco04 img{
        height: 300px;
        border: 2px solid black;
       
    }
  