css
   .título01{
        background-color: orange;
        color: aliceblue;
        padding: 10px;
    }
    .bloco02{
        font-family: 'Dancing Script', cursive;
    }
    .bloco04 img{
        height: 300px;
        border: 2px solid black;
       
    }
  
